[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
background = "*"
requests = "*"
redis = "*"
mapbox = "*"
pillow = "*"


[dev-packages]

pytest = "*"
"flake8" = "*"
unify = "*"
isort = "*"


[requires]

python_full_version = "3.6.4"
