[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

background = "*"
requests = "*"
redis = "*"
mapbox = "*"
pillow = "*"
sanic = "*"


[dev-packages]

pytest = "*"
"flake8" = "*"
unify = "*"
isort = "*"


[requires]

python_version = "3.6"
