[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
redis = "*"
mapbox = "*"
pillow = "*"
sanic = "*"
background = "*"
futures = "==3.1.1"


[dev-packages]

pytest = "*"
"flake8" = "*"
unify = "*"
isort = "*"
rope = "*"


[requires]

python_version = "3.6"
